<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOGGING_PATTERN"
              value="${log.app.pattern:-%date{ISO8601} [%thread] %-5level %logger{36}.%method:%line - %msg%n}"/>

    <!-- 控制台配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOGGING_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>